html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-image: url("/bg-1.svg");
    object-fit: fill; 
    background-size: cover;
}
body img {
  width: full;
  height: auto;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* My CSS */

/* Active Navbar Link */
.active-link{
  color: #69F0AE;
}
.bg{
  background-image: url("/public/bg2.svg");
}


.typed-out{
  overflow: hidden;
  /* border-right: 10px solid orange; */
  white-space: nowrap;
  animation: 
  typing 1s forwards;
  font-size: 10px;
  width: auto;
  /* justify-content: center; */
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@tailwind base;
@tailwind components;
@tailwind utilities;