html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-repeat: repeat-y;
  object-fit: fill;
  background-size: 3000px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: rgb(193, 174, 174);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;



/* My CSS */

/* Active Navbar Link */
.active-link {
  color: #ff9671;
}
.bg {
  padding-top: -100px;
  background-image: url("/laptop.jpg");
  width: auto;
  opacity: 60;
}
.bg img {
  opacity: 60;
}
.typed-out {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1s forwards;
  font-size: 10px;
  width: auto;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.modal-content {
  /* min-height: 300px;
  padding: 25px; */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.bg-1{
  background-image: linear-gradient(to right bottom, #ff6f91, #ff7689, #ff7d81, #ff847b, #ff8c76, #ff9372, #ff9a6e, #ffa16b, #ffaa67, #ffb363, #ffbd61, #ffc75f);
}

.a-width{
  font-size: clamp(1rem, -0.875rem + 8.333333vw, 3.5rem);
}
